@import-normalize;
@import "header.css";
@import "summary.css";
@import "item-card.css";
@import "inputs.css";
@import "buttons.css";

h1 {
  margin: 0 0;
}

p {
  margin: 0;
  padding: 0;
}

.container {
  min-width: 300px;
  max-width: 450px;
  margin: 0 auto;
  padding: 0 0;
  text-align: center;
  background-color: var(--appBackground);
}
