:root {
  --appBackground: white;
  --buttonTextColor: black;
  --buttonBgColor: #ccc;
  --buttonBgHoverColor: #999;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0 0;
  box-sizing: border-box;
  background-color: var(--appBackground);
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
}
